<ion-header>
  <ion-toolbar>
    <ion-title>
      Highscores
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows, browser"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

<div padding>
  <ion-segment [(ngModel)]="level">
    <ion-segment-button value="2">
      2-Back
    </ion-segment-button>
    <ion-segment-button value="3">
      3-Back
    </ion-segment-button>
	<ion-segment-button value="4">
      4-Back
    </ion-segment-button>
	<ion-segment-button value="5">
      5-Back
    </ion-segment-button>
	<ion-segment-button value="6">
      6-Back
    </ion-segment-button>
	<ion-segment-button value="7">
      7-Back
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="level">
  <div *ngFor="let l of ['2', '3', '4', '5', '6', '7']">
	  <ion-list *ngSwitchCase="l">
		  <ion-item>
			  <b item-left>PLAYER</b>
			  <b item-right>SCORE</b>
		  </ion-item>
		  <ion-item *ngFor="let hs of highscores[l]">
			  <span item-left>{{ hs.score ? hs.name : "---" }}</span>
			  <span item-right>{{ hs.score ? padLeft(hs.score, 5) : "---" }}</span>
		  </ion-item>


	  </ion-list>
  </div>
  
  
</div>

  
</ion-content>